extends layout

block content
	br
	h2= `${title}에게 받은 선물`
	p= userData.name
	form(action=`${userData.name}/upload` method='post' enctype="multipart/form-data")
		table= "기프티콘 업로드"
		td
			input(type='file' name='userfile')
		td
			button(type="submit" class="btn btn-outline-success") 업로드

	for file in filelist
		form(action=`/users/${userData.name}/${file}?_method=DELETE` method="POST")
			img(src=`/${file}`)
			button(type="submit" class="btn btn-outline-danger") 삭제


